<!DOCTYPE html>
<html class="no-js" lang="en" data-theme="light">
<head>
    <%- include('./include/metadata')%>
</head>

<body class="page-home">
    <%- include('./include/svg')%>
    <div class="sidebar-backdrop"></div>
    <div class="page-wrapper">
        <%- include('./include/nav')%>
        <main class="page-content">
            <div class="container">
                <section class="section">
                    <div class="section__title d-none">
                        <h2>Section</h2>
                    </div>
                    <div class="row justify-content-center gutter-bottom-xl">
                        <div class="col-12 col-lg-5 col-xl-5 d-flex">
                            <div class="card">
                                <div class="card__wrapper">
                                    <div class="card__container">
                                        <div class="card__header">
                                            <div class="card__header-left">
                                                <h3 class="card__header-title">Change Password</h3>
                                            </div>
                                            <div class="card__tools-more">
                                                <button class="items-more__button">
                                                    <svg class="icon-icon-more">
                                                        <use xlink:href="#icon-more"></use>
                                                    </svg>
                                                </button>
                                                <div class="dropdown-items">
                                                    <div class="dropdown-items__container">
                                                        <ul class="dropdown-items__list">
                                                            <li class="dropdown-items__item"><a class="dropdown-items__link"><span class="dropdown-items__link-icon">
                                      <svg class="icon-icon-refresh">
                                        <use xlink:href="#icon-refresh"></use>
                                      </svg></span>Refresh</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card__body">
                                            <form action="/update-password" method="POST">
                                            <div class="row row--md">
                                                <div class="col-12 form-group form-group--lg">
                                                    <label class="form-label">Password</label>
                                                    <div class="input-group">
                                                        <input class="input" type="password" name="password" required="">
                                                    </div>
                                                </div>
                                                <div class="col-12 form-group form-group--lg">
                                                    <label class="form-label">Confirm Password</label>
                                                    <div class="input-group">
                                                        <input class="input" type="password" name="confirm_password" required="">
                                                    </div>
                                                </div>
                                                <div class="col-12 form-group form-group--lg">
                                                    <button class="button button--primary button--block" data-dismiss="modal" data-modal="#addProductSuccess"><span class="button__text">Update</span>
                                                    </button>
                                                </div>
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
    </div>
    <%- include('./include/javascript')%>
</body>
</html>